[Unit]
Description=Pen plotter printer web service
Wants=network-online.target
After=network-online.target

[Service]
Type=PySimpleGUI
ExecStart=python3 main.py
WorkingDirectory=

[Install]
WantedBy=multi-user.target
