[Unit]
Description=Pen plotter printer web service
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=pi
WorkingDirectory=/home/pi/webplotter
ExecStart= /home/pi/webplotter/venv/bin/python3 /home/pi/webplotter/main.py
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755
