<!DOCTYPE html>
<html>
    <head>
        <title>Plotter Webserver</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">

    </head>
    <body>

      <!--Uploader-->
      <section class="uk-section">
        <div class="uk-container uk-container-small">
          <h3>File Upload</h3>
          <form id="uploadFiles" action="{{ url_for('upload_files') }}" class="dropzone"></form>
        </div>
      </section>
      <!--Uploader-->

      <!--Uploaded-->
      <section class="uk-section">
        <div class="uk-container uk-container-small">
          <h3>File Uploaded</h3>
          <a href="#" class="updateFiles">updateFiles</a>
          <ul id="fileList" class="uk-list uk-list-divider"></ul>
        </div>
      </section>
      <!--Uploaded-->

      <!--Settings-->
      <section class="uk-section">
        <div class="uk-container uk-container-small">
          <form id="plotterData">
              <fieldset class="uk-fieldset uk-grid-small" uk-grid>

                  <legend class="uk-legend">Plotter Control</legend>

                  <input id="fileName" name="file" type="hidden">

                  <div class="uk-width-1-2@s">
                    <label class="uk-form-label" for="form-stacked-text">port</label>
                    <a href="#" class="updatePorts">updatePorts</a>
                    <div class="uk-margin">
                        <select id="portList" class="uk-select" name="port">
                        </select>
                    </div>
                  </div>
                  <div class="uk-width-1-2@s">
                    <label class="uk-form-label" for="form-stacked-text">baudrate</label>
                    <div class="uk-margin">
                        <select id="baudRate" class="uk-select" name="baudrate">
                            <option value="9600">9600</option>
                        </select>
                    </div>
                  </div>
                  <div class="uk-width-1-2@s">
                    <label class="uk-form-label" for="form-stacked-text">tasmota</label>
                    <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                        <label><input id="tasmota" class="uk-checkbox" type="checkbox" name="tasmota" checked> Shutdown on complete</label>
                    </div>
                  </div>
                  <div class="uk-width-1-2@s">
                    <label class="uk-form-label" for="form-stacked-text">device</label>
                    <div class="uk-margin">
                        <select input="device" class="uk-select" name="device">
                            <option value="7475a">HP 7475A</option>
                            <option value="mp4200">Graptech MP4200</option>
                        </select>
                    </div>
                  </div>

              </fieldset>
          </form>

          <a href="#" class="startPlot">startPlot</a>
        </div>
      </section>
      <!--Settings-->

      <!--Status-->
      <section class="uk-section">
        <div class="uk-container uk-container-small">
          <h3>Print Status</h3>
          <pre class="uk-height-medium uk-card uk-card-default uk-card-body">
            <code id="statusLog"></code>
          </pre>
        </div>
      </section>
      <!--Status-->

      <!-- UIkit JS -->
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

      <script src="{{url_for('static', filename='main.js')}}"></script>

      <script>
        Dropzone.autoDiscover = false;

        jQuery( document ).ready(function() {

          // Populate list on first start
          updateFiles();
          updatePorts();

          // Create uploader
          const uploadFiles = new Dropzone("#uploadFiles");
          uploadFiles.on("complete", function(file) {
            updateFiles(); // Update file list on upload completed
          });

          // Update file
          jQuery(".updateFiles").click(function(e) {
            e.preventDefault();
            updateFiles();
          });

          // Update ports
          jQuery(".updatePorts").click(function(e) {
            e.preventDefault();
            updatePorts();
          });

          // Handle List element selection
          jQuery('body').on('click', '.selectFile', function(e) {
            e.preventDefault();
            selectFile(jQuery(this));
          });

          // Start Plot
          jQuery(".startPlot").click(function(e) {
            e.preventDefault();
            startPlot();
          });
        })
      </script>
    </body>
</html>
