<!DOCTYPE html>
<html>
    <head>
        <title>Plotter Webserver</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">

        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>

      <!--HEADER-->
      <header id="top-head" class="uk-position-fixed">
        <div class="uk-container uk-container-expand uk-background-primary">
          <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
            <div class="uk-navbar-left">
              <div class="uk-navbar-item uk-hidden@m">
                <a class="uk-logo" href="#"><img class="custom-logo" src="{{url_for('static', filename='img/logo.png')}}" alt=""></a>
              </div>
              <ul class="uk-navbar-nav uk-visible@m">
                <li><a href="#"><span class="plotter_name">Default Plotter</span></a></li>
              </ul>
            </div>
            <div class="uk-navbar-right">
              <ul class="uk-navbar-nav uk-hidden@m">
                <!-- <li>
                  <a href="#" class="uk-icon-link actionOpenConfig" data-uk-tooltip="Set Config File" data-uk-icon="icon: settings" title="Edit Config File" data-uk-tooltip></a>
                </li>
                <li>
                  <a href="#" class="uk-icon-link action-open-reboot" uk-toggle="target: #modal-reboot" data-uk-tooltip="Reboot Pi" data-uk-icon="icon: refresh"></a>
                </li>
                <li>
                  <a href="#" class="uk-icon-link action-open-poweroff" uk-toggle="target: #modal-poweroff" data-uk-tooltip="Poweroff Pi" data-uk-icon="icon: sign-out"></a>
                </li> -->
                <li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav" title="Offcanvas" data-uk-tooltip></a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!--/HEADER-->

      <!-- LEFT BAR -->
      <aside id="left-col" class="uk-light uk-visible@m">
        <div class="left-logo uk-flex uk-flex-middle">
          <img class="custom-logo" src="{{url_for('static', filename='img/logo.png')}}" alt="">
        </div>
        <div class="left-content-box content-box-dark">
          <img src="{{url_for('static', filename='img/user.png')}}" alt="" class="profile-img">
          <h4 class="uk-text-center uk-margin-remove-vertical text-light">Web Plotter</h4>
        </div>

        <div class="left-nav-wrap">
          <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
            <li class="uk-nav-header">ACTIONS</li>
            <li><a href="#" class="action-tasmota-toggle actionTasmota"><span data-uk-icon="icon: bolt" class="uk-margin-small-right"></span>Toggle Tasmota</a></li>
            <li><a href="#" class="action-open-reboot" uk-toggle="target: #modal-reboot"><span data-uk-icon="icon: refresh" class="uk-margin-small-right"></span>Reboot Pi</a></li>
            <li><a href="#" class="action-open-poweroff" uk-toggle="target: #modal-poweroff"><span data-uk-icon="icon: close" class="uk-margin-small-right"></span>Poweroff Pi</a></li>
          </ul>
          <div class="left-content-box uk-margin-top">

              <h5>Reports</h5>
              <div>
                <span class="uk-text-small">Printing Report</span>
                <progress id="printProgress" class="uk-progress printProgress" value="0" max="100"></progress>
                <span class="uk-text-small uk-text-muted">Selected File: <span id="selectedFilename" class="uk-text-success selectedFilename"></span></span>
              </div>

              <ul class="uk-nav uk-nav-default uk-nav-parent-icon unlock-edit uk-hidden" data-uk-nav>
                <li><a href="#" class="uk-button-danger stopPlot"><span data-uk-icon="icon: close" class="uk-margin-small-right"></span>Stop Print</a></li>
              </ul>


          </div>

        </div>
        <div class="bar-bottom">
          <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
            <li>
              <a href="#" class="uk-icon-link" data-uk-icon="icon: home" title="Home" data-uk-tooltip></a>
            </li>
            <li>
              <a href="#" class="uk-icon-link actionOpenConfig" data-uk-tooltip="Set Config File" data-uk-icon="icon: settings" title="Edit Config File" data-uk-tooltip></a>
            </li>
            <li>
              <a href="#" class="uk-icon-link action-open-reboot" uk-toggle="target: #modal-reboot" data-uk-tooltip="Reboot Pi" data-uk-icon="icon: refresh"></a>
            </li>

            <li>
              <a href="#" class="uk-icon-link action-open-poweroff" uk-toggle="target: #modal-poweroff" data-uk-tooltip="Poweroff Pi" data-uk-icon="icon: sign-out"></a>
            </li>
          </ul>
        </div>
      </aside>
      <!-- /LEFT BAR -->

      <!-- CONTENT -->
      <div id="content" data-uk-height-viewport="expand: true">
        <div class="uk-container uk-container-expand">

          <div class="uk-grid uk-grid-medium" data-uk-grid uk-sortable="handle: .sortable-icon">

            <!-- Uploader -->
            <div class="uk-width-1-2@l">
              <div class="uk-card uk-card-default uk-card-small mac-card">
                <div class="uk-card-header mac-browser-bar">
                  <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>File Upload</h4></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                      <!-- <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a> -->
                      <a href="#" class="uk-icon-link mac-button mac-min sortable-icon" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
                      <a href="#" class="uk-icon-link mac-button mac-close closeCard" data-card="uploadFiles-card" title="Close" data-uk-tooltip data-uk-icon="icon: chevron-up"></a>
                      <a href="#" class="uk-icon-link mac-button mac-max showCard uk-hidden" data-card="uploadFiles-card" title="Open" data-uk-tooltip data-uk-icon="icon: chevron-down"></a>
                    </div>
                  </div>
                </div>
                <div id="uploadFiles-card" class="uk-card-body">
                  <div class="chart-container uk-panel uk-panel-scrollable">
                    <form id="uploadFiles" action="{{ url_for('upload_files') }}" class="dropzone"></form>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Uploader -->

            <!-- Uploaded -->
            <div class="uk-width-1-2@l">
              <div class="uk-card uk-card-default uk-card-small mac-card">
                <div class="uk-card-header mac-browser-bar">
                  <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>File Uploaded</h4></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                      <a href="#" class="uk-icon-link mac-button mac-mix updateFiles" title="Refresh List" data-uk-tooltip data-uk-icon="icon: refresh"></a>
                      <a href="#" class="uk-icon-link mac-button mac-min sortable-icon" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
                      <a href="#" class="uk-icon-link mac-button mac-close closeCard" data-card="fileList-card" title="Close" data-uk-tooltip data-uk-icon="icon: chevron-up"></a>
                      <a href="#" class="uk-icon-link mac-button mac-max showCard uk-hidden" data-card="fileList-card" title="Open" data-uk-tooltip data-uk-icon="icon: chevron-down"></a>
                    </div>
                  </div>
                </div>
                <div id="fileList-card" class="uk-card-body">
                  <div class="chart-container uk-panel uk-panel-scrollable">
                    <ul id="fileList" class="uk-list uk-list-divider"></ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Uploaded -->

            <!-- Settings -->
            <div class="uk-width-1-2@l">
              <div class="uk-card uk-card-default uk-card-small mac-card">
                <div class="uk-card-header mac-browser-bar">
                  <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>Plotter Settings</h4></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                      <!-- <a href="#" class="uk-icon-link" title="Configuration" data-uk-tooltip data-uk-icon="icon: cog"></a> -->
                      <a href="#" class="uk-icon-link mac-button mac-min sortable-icon" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
                      <a href="#" class="uk-icon-link mac-button mac-close closeCard" data-card="plotterData-card" title="Close" data-uk-tooltip data-uk-icon="icon: chevron-up"></a>
                      <a href="#" class="uk-icon-link mac-button mac-max showCard uk-hidden" data-card="plotterData-card" title="Open" data-uk-tooltip data-uk-icon="icon: chevron-down"></a>
                    </div>
                  </div>
                </div>
                <div id="plotterData-card" class="uk-card-body">
                  <div class="chart-container">
                    <form id="plotterData">
                        <fieldset class="uk-fieldset uk-grid-small" uk-grid>

                            <input id="fileName" name="file" type="hidden">

                            <div class="uk-width-1-2@s">
                              <label class="uk-form-label" for="form-stacked-text">COM Port</label>
                              <div class="uk-margin-small">
                                <div class="uk-grid uk-grid-small">
                                  <div class="uk-width-expand">
                                    <select id="portList" class="uk-select portList" name="port">
                                    </select>
                                  </div>
                                  <div class="uk-width-auto uk-text-right panel-icons">
                                    <a href="#" class="uk-icon-link mac-button updatePorts" title="Refresh Port List" data-uk-tooltip data-uk-icon="icon: refresh"></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="uk-width-1-2@s">
                              <label class="uk-form-label" for="form-stacked-text">Baudrate</label>
                              <div class="uk-margin-small">
                                  <select id="baudRate" class="uk-select" name="baudrate">
                                      <option value="9600">9600</option>
                                  </select>
                              </div>
                            </div>
                            <div class="uk-width-1-2@s">
                              <label class="uk-form-label" for="form-stacked-text">Tasmota Control</label>
                              <div class="uk-margin-small uk-grid-small uk-child-width-auto uk-grid">
                                  <label><input id="tasmota" class="uk-checkbox" type="checkbox" name="tasmota" checked> Shutdown on complete</label>
                              </div>
                            </div>
                            <div class="uk-width-1-2@s">
                              <label class="uk-form-label" for="form-stacked-text">Plotting Device</label>
                              <div class="uk-margin-small">
                                  <select id="device" input="device" class="uk-select" name="device">
                                      <option value="7475a">HP 7475A</option>
                                      <option value="mp4200">Graptech MP4200</option>
                                  </select>
                              </div>
                            </div>

                        </fieldset>
                    </form>

                    <a href="#" class="startPlot uk-button uk-button-primary uk-width-1-1 uk-margin-top lock-edit">Start Plot</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Settings -->

            <!-- Status -->
            <div class="uk-width-1-2@l">
              <div class="uk-card uk-card-default uk-card-small mac-card">
                <div class="uk-card-header mac-browser-bar">
                  <div class="uk-grid uk-grid-small">
                    <div class="uk-width-auto"><h4>Print Status</h4></div>
                    <div class="uk-width-expand uk-text-right panel-icons">
                      <a href="#" class="uk-icon-link mac-button mac-mix clearLog" title="Clear Log" data-uk-tooltip data-uk-icon="icon:  trash"></a>
                      <a href="#" class="uk-icon-link mac-button mac-min sortable-icon" title="Move" data-uk-tooltip data-uk-icon="icon: move"></a>
                      <a href="#" class="uk-icon-link mac-button mac-close closeCard" data-card="statusLog-card" title="Close" data-uk-tooltip data-uk-icon="icon: chevron-up"></a>
                      <a href="#" class="uk-icon-link mac-button mac-max showCard uk-hidden" data-card="statusLog-card" title="Open" data-uk-tooltip data-uk-icon="icon: chevron-down"></a>
                    </div>
                  </div>
                </div>
                <div id="statusLog-card" class="uk-card-body">
                  <div class="chart-container uk-panel uk-panel-scrollable auto-scroll">
                    <code id="statusLog"></code>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Status -->

          </div>
          <footer class="uk-section uk-section-small uk-text-center">
            <hr>
            <p class="uk-text-small uk-text-center">Copyright 2021 - <a href="https://github.com/henrytriplette/penplotter-webserver">Created by Henry Triplette</a></p>
          </footer>
        </div>
      </div>
      <!-- /CONTENT -->

      <!-- OFFCANVAS -->
      <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
          <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
          <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
            <li class="uk-nav-header">ACTIONS</li>
            <li><a href="#" class="action-tasmota-toggle actionTasmota"><span data-uk-icon="icon: bolt" class="uk-margin-small-right"></span>Toggle Tasmota</a></li>
            <li><a href="#" class="action-open-reboot" uk-toggle="target: #modal-reboot"><span data-uk-icon="icon: refresh" class="uk-margin-small-right"></span>Reboot Pi</a></li>
            <li><a href="#" class="action-open-poweroff" uk-toggle="target: #modal-poweroff"><span data-uk-icon="icon: close" class="uk-margin-small-right"></span>Poweroff Pi</a></li>
            <li><a href="#" class="actionOpenConfig"><span data-uk-icon="icon: settings" class="uk-margin-small-right"></span>Edit Config File</a>
          </ul>
          <div class="left-content-box uk-margin-top">
              <h5>Reports</h5>
              <div>
                <span class="uk-text-small">Printing Report</span>
                <progress id="printProgressOffCanvas" class="uk-progress printProgress" value="0" max="100"></progress>
                <span class="uk-text-small uk-text-muted">Selected File: <span id="selectedFilenameOffCanvas" class="uk-text-success selectedFilename"></span></span>
              </div>
              <ul class="uk-nav uk-nav-default uk-nav-parent-icon unlock-edit uk-hidden" data-uk-nav>
                <li><a href="#" class="uk-button-danger stopPlot"><span data-uk-icon="icon: close" class="uk-margin-small-right"></span>Stop Print</a></li>
              </ul>
          </div>

        </div>
      </div>
      <!-- /OFFCANVAS -->

      <!-- File Conversion Modal -->
      <div id="modal-convertFile" uk-modal>
          <div class="uk-modal-dialog uk-card uk-card-default uk-card-small mac-card">
            <div class="uk-card-header mac-browser-bar">
              <div class="uk-grid uk-grid-small">
                <div class="uk-width-auto"><h4>File Conversion</h4></div>
                <div class="uk-width-expand uk-text-right panel-icons">
                  <a href="#" class="uk-icon-link mac-button mac-close uk-modal-close" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>
                </div>
              </div>
            </div>
            <div class="uk-modal-body">
              <form id="convertData">
                  <fieldset class="uk-fieldset uk-grid-small" uk-grid>

                    <div class="uk-width-1-1@s">
                      <label class="uk-form-label" for="convertFile">File Name</label>
                      <div class="uk-margin-small">
                          <input id="convertFile" class="uk-input" name="file" type="input" readonly>
                      </div>
                    </div>

                    <div class="uk-width-1-3@s">
                      <label class="uk-form-label" for="form-stacked-text">Page Size</label>
                      <div class="uk-margin-small">
                          <select input="pagesize" class="uk-select" name="pagesize">
                              <option value="a4">ISO A4</option>
                              <option value="a3">ISO A3</option>
                          </select>
                      </div>
                    </div>
                    <div class="uk-width-1-3@s">
                      <label class="uk-form-label" for="form-stacked-text">SVG Scale</label>
                      <div class="uk-margin-small">
                          <select input="svgscale" class="uk-select" name="svgscale">
                              <option value="none">None</option>
                              <option value="a4">A4</option>
                              <option value="a3">A3</option>
                          </select>
                      </div>
                    </div>
                    <div class="uk-width-1-3@s">
                      <label class="uk-form-label" for="form-stacked-text">Page Orientation</label>
                      <div class="uk-margin-small">
                          <select input="pageorientation" class="uk-select" name="pageorientation">
                              <option value="portrait">Portrait</option>
                              <option value="landscape">Landscape</option>
                          </select>
                      </div>
                    </div>

                  </fieldset>
              </form>

              <div class="uk-text-right uk-margin-small-top">
                  <button class="uk-button uk-button-primary startConversion lock-edit" type="button">Convert</button>
              </div>
            </div>
          </div>
      </div>
      <!-- File Conversion Modal -->

      <!-- config modal -->
      <div id="modal-configFile" uk-modal>
          <div class="uk-modal-dialog uk-card uk-card-default uk-card-small mac-card">
            <div class="uk-card-header mac-browser-bar">
              <div class="uk-grid uk-grid-small">
                <div class="uk-width-auto"><h4>Edit Config File</h4></div>
                <div class="uk-width-expand uk-text-right panel-icons">
                  <a href="#" class="uk-icon-link mac-button mac-close uk-modal-close" title="Close" data-uk-tooltip data-uk-icon="icon: close"></a>
                </div>
              </div>
            </div>
            <div class="uk-modal-body">
              <form id="configData">
                  <fieldset class="uk-fieldset uk-grid-small" uk-grid>

                    <div class="uk-width-1-2@s">
                      <label class="uk-form-label" for="telegram_token">Telegram Token</label>
                      <div class="uk-margin-small">
                          <input id="telegram_token" class="uk-input" name="telegram_token" type="input">
                      </div>
                    </div>

                    <div class="uk-width-1-2@s">
                      <label class="uk-form-label" for="telegram_chatid">Telegram Chat ID</label>
                      <div class="uk-margin-small">
                          <input id="telegram_chatid" class="uk-input" name="telegram_chatid" type="input">
                      </div>
                    </div>

                    <div class="uk-width-1-2@s">
                      <label class="uk-form-label" for="tasmota_enable">Enable Tasmota</label>
                      <div class="uk-margin-small">
                        <select id="tasmota_enable" class="uk-select" name="tasmota_enable">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                      </div>
                    </div>

                    <div class="uk-width-1-2@s">
                      <label class="uk-form-label" for="tasmota_ip">Tasmota Ip</label>
                      <div class="uk-margin-small">
                          <input id="tasmota_ip" class="uk-input" name="tasmota_ip" type="input">
                      </div>
                    </div>

                    <div class="uk-width-1-2@s">
                      <label class="uk-form-label" for="plotter_name">Plotter Name</label>
                      <div class="uk-margin-small">
                          <input id="plotter_name" class="uk-input" name="plotter_name" type="input">
                      </div>
                    </div>
                    <div class="uk-width-1-2@s">
                      <label class="uk-form-label" for="plotter_port">Plotter Default Port</label>
                      <div class="uk-margin-small">
                          <select id="plotter_port" class="uk-select portList" name="plotter_port">
                          </select>
                      </div>
                    </div>
                    <div class="uk-width-1-2@s">
                      <label class="uk-form-label" for="plotter_device">Plotter Default Device</label>
                      <div class="uk-margin-small">
                          <select id="plotter_device" input="device" class="uk-select" name="plotter_device">
                              <option value="7475a">HP 7475A</option>
                              <option value="mp4200">Graptech MP4200</option>
                          </select>
                      </div>
                    </div>
                    <div class="uk-width-1-2@s">
                      <label class="uk-form-label" for="plotter_baudrate">Plotter Default Baudrate</label>
                      <div class="uk-margin-small">
                          <select id="plotter_baudrate" class="uk-select" name="plotter_baudrate">
                              <option value="9600">9600</option>
                          </select>
                      </div>
                    </div>

                  </fieldset>
              </form>

              <div class="uk-text-right uk-margin-small-top">
                  <button class="uk-button uk-button-primary saveConfig" type="button">Save Configuration</button>
              </div>
            </div>
          </div>
      </div>
      <!-- config modal -->

      <!-- poweroff modal -->
      <div id="modal-poweroff" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title">Poweroff Pi?</h2>
              <p class="uk-text-right">
                  <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                  <button class="uk-button uk-button-primary actionPoweroff" type="button">Poweroff</button>
              </p>
          </div>
      </div>
      <!-- poweroff modal -->

      <!-- reboot modal -->
      <div id="modal-reboot" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title">Reboot Pi?</h2>
              <p class="uk-text-right">
                  <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                  <button class="uk-button uk-button-primary actionReboot" type="button">Reboot</button>
              </p>
          </div>
      </div>
      <!-- reboot modal -->

      <!-- UIkit JS -->
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>

      <script src="{{url_for('static', filename='main.js')}}"></script>
      <script src="{{url_for('static', filename='utility.js')}}"></script>

      <script>
        Dropzone.autoDiscover = false;

        jQuery( document ).ready(function() {

          // Websocket for printing status
          var socket = io();

          // Event handler for new connections.
          // The callback function is invoked when a connection with the
          // server is established.
          socket.on('connect', function() {
              socket.emit('connection', {data: 'Client connected!'});
          });

          // Set log window
          socket.on('status_log', function(msg, cb) {
              jQuery('#statusLog').append('<br>' + $('<div/>').text(msg.data).html());
              scrollLog();
          });

          socket.on('error', function(msg, cb) {
              jQuery('#statusLog').append('<br>' + $('<div class="error"/>').text(msg.data).html());
              scrollLog()
          });

          // Display print progression
          socket.on('print_progress', function(msg, cb) {
              jQuery('.printProgress').val(msg.data);
          });

          // Lock file deletion on print start, unlock on stop
          socket.on('lock_edit', function(msg, cb) {
            console.log('lock_edit', msg.data);
            if (msg.data == 'on') {
              jQuery('.lock-edit').prop('disabled', true).addClass('uk-hidden');
              jQuery('.unlock-edit').prop('disabled', false).removeClass('uk-hidden');
            } else {
              jQuery('.lock-edit').prop('disabled', false).removeClass('uk-hidden');
              jQuery('.unlock-edit').prop('disabled', true).addClass('uk-hidden');
            }
          });

          // Populate list on first start
          updateFiles();
          updatePorts();

          // Fetch configuration data
          updateConfiguration();

          // Create uploader
          const uploadFiles = new Dropzone("#uploadFiles");
          uploadFiles.on("complete", function(file) {
            updateFiles(); // Update file list on upload completed
          });

          // Update file
          jQuery(".updateFiles").click(function(e) {
            e.preventDefault();
            updateFiles();
          });

          // Update ports
          jQuery(".updatePorts").click(function(e) {
            e.preventDefault();
            updatePorts();
          });

          // Handle List element selection
          jQuery('body').on('click', '.selectFile', function(e) {
            e.preventDefault();
            selectFile(jQuery(this));
          });

          // Handle List element deletion
          jQuery('body').on('click', '.deleteFile', function(e) {
            e.preventDefault();
            deleteFile(jQuery(this));
          });

          // Handle HPGL Preview Generation
          jQuery('body').on('click', '.previewFile', function (e) {
            e.preventDefault();
            previewFile(jQuery(this));
          });

          // Handle list element conversion from SVG 2 HPGL
          jQuery('body').on('click', '.convertFile', function(e) {
            e.preventDefault();
            convertFileModal(jQuery(this));
          });

          jQuery('body').on('click', '.startConversion', function(e) {
            e.preventDefault();
            convertFile();
          });

          // Clear Log
          jQuery(".clearLog").click(function(e) {
            e.preventDefault();
            clearLog();
          });

          // Start Plot
          jQuery(".startPlot").click(function(e) {
            e.preventDefault();
            startPlot();
          });

          // Stop Plot
          jQuery(".stopPlot").click(function(e) {
            e.preventDefault();
            stopPlot();
          });


          // Show Cards
          jQuery(".closeCard").click(function(e) {
            e.preventDefault();
            closeCard(jQuery(this));
          });

          // Hide Cards
          jQuery(".showCard").click(function(e) {
            e.preventDefault();
            showCard(jQuery(this));
          });

          // Reboot Pi
          jQuery(".actionReboot").click(function(e) {
            e.preventDefault();
            actionReboot();
          });

          // Poweroff Pi
          jQuery(".actionPoweroff").click(function(e) {
            e.preventDefault();
            actionPoweroff();
          });

          // Toggle Tasmota device
          jQuery(".actionTasmota").click(function(e) {
            e.preventDefault();
            actionTasmota();
          });

          // Open Config.ini file editor
          jQuery(".actionOpenConfig").click(function(e) {
            e.preventDefault();
            actionOpenConfig();
          });

          // Save new data into Config.ini
          jQuery(".saveConfig").click(function(e) {
            e.preventDefault();
            saveConfig();
          });

        })
      </script>
    </body>
</html>
